<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">

    <!-- Preserve the legacy mixed-case JSP lab behavior without Tomcat/Jasper. -->
    <servlet>
        <servlet-name>legacyUppercaseJspServlet</servlet-name>
        <servlet-class>weblogic.servlet.JSPServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>legacyUppercaseJspServlet</servlet-name>
        <url-pattern>*.JSP</url-pattern>
    </servlet-mapping>
</web-app>
